<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon.png" />
    {{!-- <link rel="stylesheet" type="image/png" href="/img/icon.png"> --}}
    <script src="/js/main.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
      <a href="/">Weather</a>
      <a href="/about">About</a>
      <a href="/help">Help</a>
    </header>